8
w: ./resource/texture/pack_2/wood_1.xpm
w: ./resource/texture/pack_2/bedrock.xpm
w: ./resource/texture/pack_2/bookshelf.xpm
w: ./resource/texture/pack_2/stone_pilar.xpm
w: ./resource/texture/pack_2/temple_stone.xpm
w: ./resource/texture/pack_2/gravel.xpm
f: ./resource/texture/pack_2/wood_2.xpm
c: ./resource/texture/pack_2/dirt.xpm
