6
./ressources/textures/wall_1.xpm
./ressources/textures/wall_2.xpm
./ressources/textures/wall_3.xpm
./ressources/textures/wall_4.xpm
./ressources/textures/floor_1.xpm
./ressources/textures/ceiling_1.xpm
